/* CONTAINER GERAL*/

.container-products-geral {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 25vh 75vh;
  grid-template-areas: "header" "main";
}

/* HEADER */

.container-products-geral header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  background-color: #117040;
}

.container-products-geral main {
  grid-area: main;

  background-color: #fff;
}

/* AREA IMG BOLHAS */

.container-products-geral .bubbles {
  width: 100px;

  padding-left: 15px;
}

.container-products-geral .bubbles img {
  width: 80px;
  height: 100%;
}
